<!DOCTYPE HTML>
<html lang="en">
<html>

<head>
    <meta charset="utf-8">
    <meta name="MSSmartTagsPreventParsing" content="TRUE" />
    <meta http-equiv="X-UI-Compatible" content="IE=edge,chrome=1" />

    <title>{{title}}</title>

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.0/build/cssreset/reset-min.css" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.0/build/cssfonts/fonts-min.css" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.0/build/cssbase/base-min.css" />

    <script type="text/javascript" src="/syntax/shCore.js"></script>
    <script type="text/javascript" src="/syntax/shBrushJScript.js"></script>
    <script type="text/javascript" src="/syntax/shBrushCSS.js"></script>
     
    <link rel="stylesheet" type="text/css" href="/syntax/shCore.css" />
    <link rel="stylesheet" type="text/css" href="/syntax/shThemeDefault.css" />

    <style type="text/css">
    body {margin:0;}

    a, a:link, a:visited {text-decoration:none;font-weight:bold;color:#3a6;}
    a:hover {text-decoration:underline;}

    .drill-back {margin-right:6px;}

    .header {min-height:40px;padding:0;border-bottom:1px solid #cacaca;background-color:#eaeaea;
        background-image:linear-gradient(top, #f7f7f7 0%, #e7e7e7 100%);
        background-image:-o-linear-gradient(top, #f7f7f7 0%, #e7e7e7 100%);
        background-image:-moz-linear-gradient(top, #f7f7f7 0%, #e7e7e7 100%);
        background-image:-webkit-linear-gradient(top, #f7f7f7 0%, #e7e7e7 100%);
        background-image:-ms-linear-gradient(top, #f7f7f7 0%, #e7e7e7 100%);}
    .header h1 {float:left;margin:0;height:40px;line-height:40px;padding:0 18px;border-right:1px solid #d9d9d9;}
    .header h2 {margin:0;min-height:30px;line-height:30px;padding:0 18px;background-color:#fff;
        border-top:1px solid #cacaca;}
    .header .section {float:left;height:40px;line-height:40px;padding:0 18px;border-left:1px solid #fff;font-weight:bold;}
    .header .nav {clear:both;}
    .header .nav a {line-height:150%;padding:0;}
    .header .nav .jump-back:after {content:" / ";}
    .header .nav a:hover {text-decoration:none;}

    .content {margin:18px 18px 0;}
    .content .toggle-syntax-highlight a:hover {text-decoration:none;}
    </style>
</head>

<body class="yui3-skin-sam">

<header>
    <div class="header">
        <h1>{{title}}</h1>
        <section>
            <div class="section">
                <!-- reserved for future use -->
            </div>
        </section>
        <nav>
            <div class="nav">
                <h2>
                    <span class="jump-back"><a href="/browse?" title="level name here">level name here</a></span>
                    <span class="jump-back"><a href="/browse?" title="level name here">level name here</a></span>
                    <span class="current">level name here</span>
                </h2>
            </div>
        </nav>
    </div>
</header>

<section>
    <div class="section content">
        <!-- LINDALJ: remove this redundant title once breadcrumb is done -->
        <h2>uifwk-bar 14.2.0.0.253</h2>
        <p class="toggle-syntax-highlight"><a href="{{raw}}" title="Disable syntax highlighting">&#8855; disable syntax highlighting</a></p>
        <pre class="brush:{{type}}">
            {{content}}
        </pre>
    </div>
</section>

<script type="text/javascript">
SyntaxHighlighter.all();
</script>

</body>
</html>
