<h2>Members of group: {{group}}</h2>

{{#if any}}
	<p>This group allows access to all users.</p>
{{else}}

	{{#if users}}
		<ul>
		{{#each users}}
			<li><a href="mailto:{{.}}">{{.}}</a></li>
		{{/each}}
		</ul>

		<p>Only existing members of this group are allowed to add new members.</p>
	{{else}}
		<p>This group does not exist.</p>
	{{/if}}

{{/if}}
